n8n/Front_flow.json
{
  "name": "Lynvia Connect AI Strategy Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategie-ai",
        "options": {}
      },
      "id": "05210b24-7f57-4756-82ef-32c005068c0f",
      "name": "Receive Strategy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "e4240814-ed83-48de-be72-c17b2da32ec3"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UfKrHsQqzRwr4iMo",
          "mode": "list",
          "cachedResultName": "strategy_context",
          "cachedResultUrl": "/projects/bORCQJefBYbaPQo2/datatables/UfKrHsQqzRwr4iMo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "qualification": "={{ $json.body.sliders.qualification }}",
            "objection": "={{ $json.body.sliders.objection }}",
            "agent_name": "={{ $json.body.name }}",
            "sector": "={{ $json.body.sector }}",
            "context": "={{ $json.body.context }}",
            "prompt": "={{ $json.body.prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualification",
              "displayName": "qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objection",
              "displayName": "objection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "53f43ba9-a288-4ab8-ace4-b32a1596de43",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const conv = {\"name\": [], \"message\": [], \"direction\": [], \"createdAt\": []};\n\nfor (const item of $input.all()) {\n  item.json.contact_key = item.json.contact_key != \"bot\" ? \"user\" : item.json.contact_key;\n  conv.name.push(item.json.contact_key)\n  conv.message.push(item.json.message)\n  conv.direction.push(item.json.direction)\n  conv.createdAt.push(item.json.createdAt)\n}\n\nreturn conv"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        208
      ],
      "id": "4ca7f2fe-a0df-4308-8c9d-db339d0cabbb",
      "name": "Parse conversation1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Tu écris un résumé factuel et concis (5–8 puces) en français de la journée (00:01→maintenant) pour un workflow de discussion. Mets en avant : thèmes, décisions, To-Do (avec responsables si possible), points bloquants, métriques (nb messages, nb exécutions).",
              "role": "model"
            },
            {
              "content": "=Conversation : {{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        208
      ],
      "id": "bf92608f-b6fd-40f6-90af-ac1bfcd76c43",
      "name": "summarize",
      "credentials": {
        "googlePalmApi": {
          "id": "0t1DRDyrqhvGKqCh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "summaryText",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "generated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c5706f4-02fd-4e9f-ab67-30822eea17ab",
      "name": "Normalize summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "GBNJTCmqs6E9OY65",
          "mode": "list",
          "cachedResultName": "sales_table",
          "cachedResultUrl": "/projects/bORCQJefBYbaPQo2/datatables/GBNJTCmqs6E9OY65"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "7fe12a27-7231-464a-a075-f5d1ac50344f",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-journee",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "daa30013-8f0d-4487-bb06-b6111234b800",
      "name": "Lynvia resume",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        208
      ],
      "webhookId": "83a51dde-7197-482b-88e7-9a0ddad9577a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.summaryText }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "6d578b32-f3ec-4da6-8b51-5208d0367402",
      "name": "Respond to lynvia",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Strategy": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "Parse conversation1": {
      "main": [
        [
          {
            "node": "summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarize": {
      "main": [
        [
          {
            "node": "Normalize summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize summary": {
      "main": [
        [
          {
            "node": "Respond to lynvia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Parse conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lynvia resume": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "139e6953-9e5a-4ed6-81f4-5d4c756cf29f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0067a3bc1de5e3409a491bae2bb493b63bc5fbde7c77e0c1119abf42da5afeca"
  },
  "id": "FMunyhKcDP5SQ9ly",
  "tags": []
}